{% extends "layouts::common.twig" %}

{% block content %}
<div style="background-color: #ffffff;">
  <a href="kit.html">Kit</a>
</div>
  {% include "components::mycomponent/mycomponent.twig" %}
  {% include "components::mycomponent/mycomponent.twig" %}
  {% include "components::mycomponent/mycomponent.twig" %}
  {% include "components::mycomponent/mycomponent.twig" %}
{% endblock %}
