@custom-media --viewport-md (width >= 768px);

:root {
  --font-size: 14px;
  --line-height: 1.375em; /* 16/22 */

  --text-color: #333333;
  --blue--dark5: #2d2d44;
}

@media (--viewport-md) {
  :root {
    --font-size: 16px;
  }
}
