<!DOCTYPE html>
<html lang="ru" class="no-js">
<head>
  <meta charset="utf-8">

  <script>document.documentElement.classList.remove('no-js');</script>

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Index</title>

  <meta name="application-name" content="">
  <meta name="apple-mobile-web-app-title" content="">

  <link rel="preload" href="/fonts/muller400.woff2" type="font/woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="/fonts/muller500.woff2" type="font/woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="/fonts/muller700.woff2" type="font/woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="/fonts/ubuntu-mono.woff2" type="font/woff2" as="font" crossorigin="anonymous">

</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
